# Заполните этот файл и переименуйте в secrets.txt
# Затем запустите: python setup.py

BOT_TOKEN=вставить_токен_из_BotFather
TELETHON_API_ID=вставить_число_из_my.telegram.org
TELETHON_API_HASH=вставить_строку_из_my.telegram.org
NOTION_API_TOKEN=вставить_ntn_токен_из_notion.so/my-integrations
NOTION_ROOT_PAGE=вставить_32_символа_id_страницы
UNSPLASH_ACCESS_KEY=вставить_ключ_из_unsplash.com/developers
PERSON_TG_USERNAME=username_заказчика_без_собаки
MAIN_PROJECT_KEYWORD=ключевое_слово_главного_проекта
